* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    
  }
  
  html, body {
    height: 100%;
    overflow-x: hidden;
  }
  
  nav {
    background-color:rgb(15, 78, 15);
    height: 8vh;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 60%;
  }
  
  .logo p {
    line-height: 8vh;
    color: yellow;
    font-size: 2em;
  }
  
  .nav-links a {
    text-decoration: none;
    line-height: 8vh;
    color: azure;
    font-size: 1.2em;
  }
  
  .nav-links a:hover {
    border-bottom: 1px solid white;
  }
  
  .menu-btn {
    padding-top: 2vh;
    display: none;
  }
  
  .menu-btn div {
    background-color: white;
    height: 4px;
    width: 20px;
    margin: 3px;
  }
  
  @media (max-width: 600px) {
  
    body {
      overflow-x: hidden;
    }
  
    .menu-btn {
      display: block;
      cursor: pointer;
    }
  
    .nav-links {
      position: absolute;
      right: 0;
      top: 8vh;
      background-color: navy;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 42vh;
      text-align: center;
      transform: translateX(100%);
      transition: transform 2s linear;
    }
  }
  
  .nav-active {
    transform: translateX(0%)
  }
  .page-wrapper{
    min-height: 100%;
  }
  .page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .page-one{
    background-image: url("honey5.png");
    
  }
  .page-two{
    background-image: url("apiary-1866740_1280.jpg");
  }
  .page-three{
    background-image: url("wooden\ spoon.jpg");
  }
  h1{
    
    color: black;
    font-size: 3em;
    
    font-weight: bolder;
  }
  .products-heading{
    font-size: 3em;
    text-align: center;
    color: navy;
    font-weight: 700;
  }
  .card{
    margin: 5px;
    height: fit-content;
  }
  .card-img-top{
    height: 150px;
    width: 100%;
  }
  .card-text{
    height: 90px;
    width: 100%;
  }
.products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.selected-item {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid blue;
  border-top: 1px solid blue;
  padding: 4px;
  border-radius: 10px;
}

.selected-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.total-items {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 50%;
  background-color: black;
  color: yellow;
}

.total-price {
  padding: 4px;
  margin: auto;
  background-color: navy;
  color: yellow;
}
.deliveries-heading{
  font-size: 2em;
  text-align: center;
  border: 3px solid green ;
  background-color: rgb(128, 79, 95);
  color:black;
  font-weight: 700;
  
}
.footer{
  background: black;
  color: #d3d3d3;
  height: 400px;
  position: relative;
}
 .h10 .span{
  font-size: 10px;
}
.footer .footer-content{
  border: 1px solid red;
  height: 350px;
  display: flex;
}
.footer .footer-content .footer-section{
  flex: 1;
  padding: 25px;
  border: 1px solid white;
}
.footer .footer-content h10,
.footer .footer-content h11{
  color: white;
}
.footer .footer-content .about h10 span{
  color: rgb(141, 141, 21);
}
.footer .footer-content .about .contact span{
  display: block;
  font-size: 1em;
  margin-bottom: 2px;
}
.footer .footer-content.links ul a{
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: white;
  transition: all .3s;
  

}
.footer .footer-content.links ul a:hover{
  color: white;
  margin-left: 15px;
  transition: all .3s;
}
.footer .footer-content .contact-form .contact-input{
  background: #272727;
  color: #bebdbd;
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: .7rem 1,2rem;
}
.footer .footer-bottom{
  background: rgb(25, 58, 25);
  color: #686868;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

  
.footer.footer-content links{
  color: white;
}

 
.deliveries{
  animation-name: fade;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes fade {
  0%{
   opacity: 0;
  }
  50%{
  display: block;
  opacity: .6;
  }
  100%{
    display: block;
    opacity: 1;
  }

}